PORT=3001

# PostgreSQL
POSTGRES_ENABLED=true
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=blip
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_SSL=false
POSTGRES_RESET_ON_START=true
POSTGRES_INSERT_CHUNK_SIZE=2000
POSTGRES_FLUSH_INTERVAL_MS=100
